{
    "plugins": [
      ["prismjs", {
          "languages": ["javascript", "css", "markup", "php"],
          "plugins": ["line-numbers", "show-language", "copy-to-clipboard"],
          "theme": "tomorrow",
          "css": true
      }]
    ]
  }